#top-description-container {
				display: flex;
				align-items: flex-end;
				justify-content: center;
} 

#top-description-prefix { 
				color: black !important;
				font-size: 2em !important;
				margin-left: 0.5em !important;
				margin-right: 0.5em !important;
				display: inline-block !important;
				vertical-align: bottom !important;
				line-height: 1 !important;
} 

#top-description {
				color: #39B54A !important;
				font-size: 2em !important;
				display: inline-block !important;
				line-height: 1 !important;
}